DATABASE_URL="Your Db Connection String Here"
APP_URL="http://localhost:3000"
PORT=5000

# Stripe Configuration
STRIPE_API_KEY="sk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_webhook_secret"

# JWT Configuration
JWT_ACCESS_SECRET="your_jwt_access_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="30d"

# Bcrypt
BCRYPT_SALT_ROUNDS=10